body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #000;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar button {
  display: block;
  background: none;
  border: none;
  color: white;
  padding: 12px 0;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  color: #1db954;
}

.main {
  margin-left: 240px;
  padding: 40px;
  padding-bottom: 140px;
  width: 100%;
}

.section { display: none; }
.section.active { display: block; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.album-card {
  background: #181818;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.album-card img {
  width: 100%;
  border-radius: 8px;
}

.album-card:hover {
  background: #282828;
}

.track-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.track-row:hover {
  background: #1f1f1f;
}

.track-row.active {
  color: #1db954;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-top: 1px solid #333;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.player-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.player-center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-center input {
  width: 300px;
}

@media (max-width: 768px) {
  .sidebar { display: none; }
  .main { margin-left: 0; }
  .player-center input { width: 150px; }
}
